@{
    ViewBag.Title = "Home Page";

}
<div class="jumbotron">
    <h1>CTU Training Solutions</h1>
    <p class="lead">Login to student database. </p>
    <p><a href="~/Account/Login" class="btn btn-primary btn-lg">Login &raquo;</a></p>
</div>
